*{
    /* border: 5px solid red;*/
}
.dashboard{
    display:flex;
    justify-content: center;
    margin-top: 60px;
    flex-wrap:wrap;
}

.macros{
    width:400px;
    

    background-color: orange;

}
.cards{
    position:absolute;
    display:flex;
    justify-content: space-around;
    top:200px;
    align-items: center;
}